<! DOCTYPE html>
<.html>
    <link rel="feuille de style » href="styles/style.css">
    <tête>
    <meta charset="utf-8">
    <link rel="icon » type="image/x-icon » href="images/favicon.ico">
    <titre>Bataille navale</titre>
    </tête>

<corps>
<div id="menu">
    <a href="home.html">Home</a >
    <a href = « create_game.html">Créer un jeu</a >
    <a href = « join_game.html">Rejoindre le jeu</a >
    <a href = « manage_fleet.html">Gérer la flotte</a >
    <a href = « play_game.html">Jouer au jeu</a >
</Div>
<div class="conteneur_vertical">
    <div class="form-result » id="join-game-result"></div>
    <div class="forme-centrée">
        <form id="join-game-form ">
            <label for="nom_joueur">Ton pseudo:</label><br >
            <input type="text » id="player-name » name="player_name » required><br><br>
            <label for="player-name">Identifiant de la partie:</label><br>
            <input type="text » id="partie-id » name="partie_id » required><br><br>
            <input class="submit-button » type="submit » value="Validateur">
</corps>
</.html>