<! DOCTYPE html>
<.html>
    <link rel="feuille de style » href="styles/style.css">
    <tête>
    <meta charset="utf-8">
    <link rel="icon » type="image/x-icon » href="images/favicon.ico">
    <titre>Bataille navale</titre>
    </tête>
<corps>
<script src="scripts/manage-fleet.js"></script >
<div id="menu">
    <a href="home.html">Home</a >
    <a href = « create_game.html">Créer un jeu</a >
    <a href = « join_game.html">Rejoindre le jeu</a >
    <a href = « manage_fleet.html">Gérer la flotte</a >
    <a href = « play_game.html">Jouer au jeu</a >

</Div>

<div class="conteneur_vertical">
    <div class="form-result » id="manage-fleet-result"></div>
    <div class="forme-centrée">
        <form id="manage-fleet-form ">
            <label for="nom_joueur">Ton pseudo:</label><br >
            <input type="text » id="player-name » name="player_name » required><br><br>
            <label for="player-name">Identifiant de la partie:</label><br>
            <input type="text » id="partie-id » name="partie_id » required><br><br>
            <input class="submit-button » type="submit » value="Changer ma flotte"><br><br>
            <label for="vessel">Choisir le type de vaisseau:</label><br><br>
            <select name="vessel » id="vessel">
            <option value="cruiser">Cruiser</option >
            <option value="destroyer">Sestroyer</option >
            <option value="frégate">frégate</option >
            <option value="submarine">Sous-marin</option >
            </sélectionner><br><br>
            <label for="x">X:</label><br >
            <input type="number » id="x » name="x » required value="0"><br>
            <label for="y">Y:</label><br>
            <input type="number » id="y » name="y » required value="0"><br>
            <label for="z">Z:</label><br >
            <input type="number » id="z » name="z » required value="0"><br><br>
            <input class="submit-button » type="submit » value="Validateur">
        </forme>
    </Div>
</Div>
</corps>
</.html>