<! DOCTYPE html>
<.html>
    <link rel="feuille de style » href="styles/style.css">
    <tête>
    <meta charset="utf-8">
    <link rel="icon » type="image/x-icon » href="images/favicon.ico">
    <titre>Bataille navale</titre>
    </tête>

<corps>
<div id="menu">
    <a href="home.html">Home</a >
    <a href = « create_game.html">Créer un jeu</a >
    <a href = « join_game.html">Rejoindre le jeu</a >
    <a href = « manage_fleet.html">Gérer la flotte</a >
    <a href = « play_game.html">Jouer au jeu</a >
</Div>
<table>
    <Tr>
      <th>Navire</th>
      <th>Coordinnées</th>
      <th>Résistance</ème>
      <th>Arme</th>
      <th>Munitions</th>
      <th>Rayon d’action</th>
    </Tr>
    <Tr>
      <td>Cruiser</td>
      <TD>8,10,0</TD>
      <TD>6</TD>
      <td>AirMissileLaucher</td>
      <TD>50</TD>
      <TD>40</TD>
    </Tr>
    <Tr>
      <td>Frégate</td>
      <TD>4,20,0</TD>
      <TD>4</TD>
      <td>SurfaceMissileLaucher</td>
      <TD>40</TD>
      <TD>30</TD>
    </Tr>
  </table>
  <input class="submit-button » type="submit » value="Feu! » ><br><br>
  <label for="cible-coordonnées">Coordonnées de la cible:</label><br >
  <label for="x">X:</label><br >
    <input type="number » id="x » name="x » required value="0"><br>
    <label for="y">Y:</label><br>
    <input type="number » id="y » name="y » required value="0"><br>
    <label for="z">Z:</label><br >
    <input type="number » id="z » name="z » required value="0"><br><br>
</corps>
</.html>